@model Forelasning1TestaSjalv.Models.CaramellDetailsModel
@{
    ViewBag.Title = "CaramellDetails";
}

<h2>Caramells</h2>

<h3>@Model.CaramellName</h3>
<p>@Model.Color</p>
<p>@Model.Flavor</p>
<p>@Model.Amount</p>

