@model List<Forelasning1.Models.BeerDetailsModel>
@{
    ViewBag.Title = "List";
}

<h2>Beer List</h2>
<ul>
    @foreach (var beer in Model)
    {
        <li>@Html.ActionLink(beer.Name, "Details", new {id = beer.ID})</li>
    }


</ul>

