@model MerTestForelasning1.Models.ForkortningarModel

@{
    ViewBag.Title = "ForkortningarDetails";
}

<h2>ForkortningarDetails</h2>
<h3>@Model.Id</h3><p>@Model.Abbreviation</p><p>@Model.Explanation</p>
